.white-circles {
    top: 72px;
    position: absolute;
    left: 755px;
    scale: 1.1;
    animation: scaleAnimation 3s infinite;
}

.shining-circles {
    position: absolute;
    right: 59px;
    top: 229px;
    scale: 1.3;
    animation: appearDisappearAnimation 3s infinite;
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


@keyframes appearDisappearAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes lowerLeftSide {
    100% {
        transform: rotate(12deg);
    }
}