footer {
    padding-top: 30px;
    height: 170px;
    display: flex;
    justify-content: space-around;
    background-color: #464547;

    p {
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 400;
        letter-spacing: 5px;
    }

    address {
        color: #FFFFFF66;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1px;
        justify-content: space-around;
        display: flex;
        flex-direction: column;

        a {
            color: #FFFFFF66;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1px;
            text-decoration: none;
        }
    }

    .copyright {
        display: flex;
        font-family: Source Sans Pro;
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFF66;
        letter-spacing: 0px;
        align-items: center;
    }
}