/* Header section */
header {
    background-image: url('./assests/Desktop_Backgrounds.png');
    height: 1020px;
    width: 100%;
    padding-top: 40px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    align-items: center;

    .menu-section {
        width: 651px;
        display: flex;
        padding-right: 100px;
        justify-content: space-around;

        .project-button a {
            color: $white-color;
            text-decoration: none;
            font-size: 20px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            line-height: 16px;
            margin-left: -100px;
        }

        ul {
            display: flex;
            gap: 40px;
            list-style-type: none;

            li a {
                color: $white-color;
                text-decoration: none;
                font-size: 14px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
        }

        .toggle-button {
            width: 35px;
            position: absolute;
            right: 80px;
            top: 40px;
            display: none;

            span {
                width: 100%;
                height: 3px;
                background-color: $white-color;
                float: left;
                margin-bottom: 8px;
            }
        }
    }

    .hero-block {
        margin: auto;
        width: 426px;

        .placeholder-logo {
            display: flex;
            justify-content: center;
            padding-bottom: 30px;
            position: relative;
        }

        .hero-texts {
            display: flex;
            flex-direction: column;
            gap: 30px;

            h1 {
                color: aliceblue;
                font-family: Oswald;
                font-size: 48px;
                font-weight: 700;
                line-height: 64px;
                letter-spacing: 0em;
                text-align: center;
            }

            h4 {
                font-family: Source Sans Pro;
                font-size: 24px;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 0em;
                text-align: center;
                color: #FFFFFFB2;
            }
        }
    }
}