.main-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;

    .main-texts {
        gap: 20px;
        margin-top: 87px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-family: Oswald;
            font-size: 48px;
            font-weight: 700;
            line-height: 64px;
            letter-spacing: 0em;
            text-align: center;
            color: #464547;
        }

        h3 {
            font-family: Source Sans Pro;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0em;
            text-align: center;
            color: #666666;
        }

        span {
            display: flex;
            grid-column-gap: 90px;

            p {
                max-width: 400px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 18px;
                line-height: 22px;
                text-align: start;

            }
        }

    }

    button {
        height: 36px;
        width: 115px;
        border-radius: 18px;
        background-color: #55C2D8;
        color: white;
        font-size: 17px;
        font-family: monospace;
        margin: 50px 0 70px;
        border: none;

        &:hover {
            transform-origin: top left;
            animation: lowerLeftSide 1s ease-in-out forwards;
        }
    }
}


.learn-more {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    align-items: center;

    h2 {
        font-family: Oswald;
        font-size: 48px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
        margin-top: 84px;
    }

    button {
        width: 150px;
        height: 150px;
        font-size: 70px;
        color: white;
        background-color: #39C2D7;
        border-radius: 80px;
        border: none;
        margin: 50px;
        transform: scale(1);
        transition: 1s;

        &:hover {
            color: #39C2D7;
            background-color: white;
            transform: scale(0.9);
            transition: color 0.5s ease-in-out,
                background-color 0.5s ease-in-out,
                transform 0.5s ease-in-out;
        }
    }

    h3 {
        font-family: Source Sans Pro;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 80px;
    }

}