@media only screen and (max-width: 768px) {
    .main-texts span {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .menu-buttons {
        display: none;
    }

    .toggle-button {
        display: block;
    }

    footer {
        flex-direction: column;
        align-items: center;
        height: 280px;
    }
}

/* @Media  For Animation */
@media only screen and (max-width: 723px) {
    header {
        height: 500px;
        padding-bottom: 31px;
    }

    .shining-circles {
        position: absolute;
        right: -195px;
        top: -155px;
        scale: 0.52;
        animation: appearDisappearAnimation 3s infinite;
    }

    .white-circles {
        top: -250px;
        position: absolute;
        left: -20px;
        scale: 0.43;
        animation: scaleAnimation 3s infinite;
    }
}