.white-circles {
  top: 72px;
  position: absolute;
  left: 755px;
  scale: 1.1;
  animation: scaleAnimation 3s infinite;
}

.shining-circles {
  position: absolute;
  right: 59px;
  top: 229px;
  scale: 1.3;
  animation: appearDisappearAnimation 3s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes appearDisappearAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lowerLeftSide {
  100% {
    transform: rotate(12deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header section */
header {
  background-image: url("./assests/Desktop_Backgrounds.png");
  height: 1020px;
  width: 100%;
  padding-top: 40px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
}
header .menu-section {
  width: 651px;
  display: flex;
  padding-right: 100px;
  justify-content: space-around;
}
header .menu-section .project-button a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  line-height: 16px;
  margin-left: -100px;
}
header .menu-section ul {
  display: flex;
  gap: 40px;
  list-style-type: none;
}
header .menu-section ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
header .menu-section .toggle-button {
  width: 35px;
  position: absolute;
  right: 80px;
  top: 40px;
  display: none;
}
header .menu-section .toggle-button span {
  width: 100%;
  height: 3px;
  background-color: white;
  float: left;
  margin-bottom: 8px;
}
header .hero-block {
  margin: auto;
  width: 426px;
}
header .hero-block .placeholder-logo {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  position: relative;
}
header .hero-block .hero-texts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
header .hero-block .hero-texts h1 {
  color: aliceblue;
  font-family: Oswald;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
}
header .hero-block .hero-texts h4 {
  font-family: Source Sans Pro;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 0.6980392157);
}

.main-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
}
.main-section .main-texts {
  gap: 20px;
  margin-top: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section .main-texts h2 {
  font-family: Oswald;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
  color: #464547;
}
.main-section .main-texts h3 {
  font-family: Source Sans Pro;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #666666;
}
.main-section .main-texts span {
  display: flex;
  grid-column-gap: 90px;
}
.main-section .main-texts span p {
  max-width: 400px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: start;
}
.main-section button {
  height: 36px;
  width: 115px;
  border-radius: 18px;
  background-color: #55C2D8;
  color: white;
  font-size: 17px;
  font-family: monospace;
  margin: 50px 0 70px;
  border: none;
}
.main-section button:hover {
  transform-origin: top left;
  animation: lowerLeftSide 1s ease-in-out forwards;
}

.learn-more {
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
}
.learn-more h2 {
  font-family: Oswald;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  margin-top: 84px;
}
.learn-more button {
  width: 150px;
  height: 150px;
  font-size: 70px;
  color: white;
  background-color: #39C2D7;
  border-radius: 80px;
  border: none;
  margin: 50px;
  transform: scale(1);
  transition: 1s;
}
.learn-more button:hover {
  color: #39C2D7;
  background-color: white;
  transform: scale(0.9);
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.learn-more h3 {
  font-family: Source Sans Pro;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 80px;
}

footer {
  padding-top: 30px;
  height: 170px;
  display: flex;
  justify-content: space-around;
  background-color: #464547;
}
footer p {
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 5px;
}
footer address {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
footer address a {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
}
footer .copyright {
  display: flex;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 0px;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .main-texts span {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .menu-buttons {
    display: none;
  }
  .toggle-button {
    display: block;
  }
  footer {
    flex-direction: column;
    align-items: center;
    height: 280px;
  }
}
/* @Media  For Animation */
@media only screen and (max-width: 723px) {
  header {
    height: 500px;
    padding-bottom: 31px;
  }
  .shining-circles {
    position: absolute;
    right: -195px;
    top: -155px;
    scale: 0.52;
    animation: appearDisappearAnimation 3s infinite;
  }
  .white-circles {
    top: -250px;
    position: absolute;
    left: -20px;
    scale: 0.43;
    animation: scaleAnimation 3s infinite;
  }
}/*# sourceMappingURL=styles.css.map */